.success-main {
  min-height: 100vh;
  background-color: #ce2829;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  color: white;
}

.success-main header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem 1rem;
  width: 100%;
  margin-bottom: 3rem;
}

.success-main header h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 1rem;
}

.successContent {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  background: #ce2829;
  padding: 2rem;
  text-align: center;
  margin-top: 2rem;
  border-top: 1px solid white;
}

.finalCheckout {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.finalCheckout h2 {
  font-size: 1.5rem;
}

.generalInfo p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.checkoutInfo {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 8px;
  margin-top: 1.5rem;
  width: 50%;
}

.checkoutInfo h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.checkoutInfo section {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .successContent {
    padding: 1.5rem;
  }

  .success-main header h2 {
    font-size: 2rem;
  }

  .checkoutInfo section {
    font-size: 1rem;
  }
}
